In [1]:
from main import main
main()

n=100, p=0.2, iterations=100
avergage of runs is  naive    33455.26
algo2    30402.68
dtype: float64

    naive  algo2
0   31784  29491
1   33727  30382
2   33062  30992
3   32857  30059
4   32090  30947
..    ...    ...
95  32186  29657
96  31481  29406
97  32037  28804
98  35677  31653
99  34107  30465

[100 rows x 2 columns]